body {
  background: url(../img/bg.png);
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  color: #a9a9a9;
}
main {
  margin-top: 100px;
}
.add {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}
.add input {
  margin-left: 40px;
  border: none;
  color: #a9a9a9;
  font-size: 32px;
  background: transparent;
  cursor: pointer;
}
.tasks {
  width: 22%;
  margin: 0 auto;
  margin-top: 20px;
}
.tasks > ul {
  padding: 0;
  list-style: none;
}
.delete_btn {
  float: right;
  padding-top: 4px;
  background: none;
  border: none;
  color: #a9a9a9;
  font-size: 16px;
  cursor: pointer;
}
.delete_com {
  width: 100%;
  cursor: pointer;
  border: none;
  background: #fff;
  font-size: 18px;
}